.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    /* grid-template-columns: repeat(3, 1fr); */
    gap: 3rem;
    align-items: center;
    justify-content: space-around;
    margin-top: 15px;
}
body {
    background-color: #F5F0BB;
    background-image: url("https://www.transparenttextures.com/patterns/food.png");
}
.optionsbar{
    display: flex;
    flex-direction: column;
    
}
.bar {
    align-self: center;
    display: flex;
    justify-content: center;
    margin: 40px auto;
}
.options{
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 50%;
    transform: translateX(43px);
}
.pags{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 32rem));
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
}
button:hover{ 
    background: rgb(196, 223, 170);
}
.loader {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    transform: rotate(45deg) translateX(135px) translateY(-170px);
    transform-origin: 40px 40px;
   }
   
   .loader div {
    top: 32px;
    left: 32px;
    position: absolute;
    width: 32px;
    height: 32px;
    background: rgb(196, 223, 170);
    animation: loader45 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
   }
   
   .loader div:after,
   .loader div:before {
    content: " ";
    position: absolute;
    display: block;
    width: 32px;
    height: 32px;
    background: rgb(196, 223, 170);
   }
   
   .loader div:before {
    left: -24px;
    border-radius: 50% 0 0 50%;
   }
   
   .loader div:after {
    top: -24px;
    border-radius: 50% 50% 0 0;
   }
   
   @keyframes loader45 {
    0% {
     transform: scale(0.95);
    }
   
    5% {
     transform: scale(1.1);
    }
   
    39% {
     transform: scale(0.85);
    }
   
    45% {
     transform: scale(1);
    }
   
    60% {
     transform: scale(0.95);
    }
   
    100% {
     transform: scale(0.9);
    }
   }
@media(max-width:700px){
    .options{
        justify-content: space-evenly;
        width: 100%;
    }
}