.pagination{
    display: flex;
    gap: 4px;
}
.pagination > button {
    display: grid;
    place-items: center;
    width: 34px;
    height: 34px;
    padding: 0;
    border: 0;
    border-radius: 20%;
    background: #262528;
    color: #f9f9f9;
}
.pagination >button.active{
    background: #bf4f5d;
}
.pagination>button:disabled {
    opacity: 0.25;
}
.pagination>button:hover{
    background: #A267AC;
}
select {
    appearance: none;
    outline: 0;
    border-radius: 2px black;
    box-shadow: none;
    flex: 1;
    padding: 0 1em;
    color: #343434;
    background-color: #ddd;
    background-image: none;
    cursor: pointer;
  }
  select::-ms-expand {
    display: none;
  }
  .select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    border-radius: .25em;
    overflow: hidden;
  }  
  .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    background-color: #34495e;
    transition: .25s all ease;
    pointer-events: none;
  }
  .select:hover::after {
    color: #f39c12;
  }